/*
#content div:nth-of-type(1) {
            display: none;
 }
*/
body {
  min-width: 200px;
  max-width: 885px;
  margin: 30px auto;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.25;
  background: rgba(237, 239, 233, 0.84);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: auto;
}
#header h1 {
    margin-bottom: 10px;
}
#header h1 a {
  vertical-align: middle;
  font-size: 28px;
  margin-left: 13px;
}
#footer1 {
    margin-bottom: 8px;
}
