/*
#content div:nth-of-type(1) {
            display: none;
 }
*/
html {
            background: url('https://weiwei.sitesi.tc/bj.png') ;
}
body {
  min-width: 200px;
  max-width: 885px;
  margin: 180px auto;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.25;
  background: rgba(234, 234, 234, 0.6);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
  position: relative;
}
/*增加页顶图片*/
#header::after {
    content:url('https://weiwei.sitesi.tc/tunian.png');
    position: absolute;
   top: -148px;
  right: 20px;
  }
/*重设头像圆角，改圆形为方形*/
.circle {
  border-radius: 10px !important;
}
/* 首页列表圆角*/
.border {
  border-radius: 8px;
}
#header h1 {
    margin-bottom: 10px;
}
#header h1 a {
  font-size: 30px;
  margin-left: 13px;
}
#footer1 {
    margin-bottom: 8px;
}
@media (max-width: 600px) {
  body {
  margin: 180px 20px;
}
  .blogTitle {
    display: block;
  }
  #header h1 a {
  font-size: 22px;
}
#header::after {
  left: 50%;
  right: unset;
  transform: translateX(-50%);
  }
}
